@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-red text-white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  @apply bg-gray-100;
}

section {
  @apply px-4 py-8 md:px-36;
}

.heading {
  @apply text-center text-4xl md:text-5xl py-4 text-gray-600;
}

.heading span {
  @apply text-red;
}